## Python - Introduction:

- Getting started with Python

- Basics

In [1]:
#First code - introduction
print("python_with_Sharjeel")
print(2+3)
print("Hello")
print("starting_python")

python_with_Sharjeel
5
Hello
starting_python

In [11]:
#Operators
print(2+3)
print(56)
print(32/2*3/3+6-4)

#PEMDAS Paranthases exponent multiply divide addition subtration left to rihght seq for m,d and a,s

5
56
18.0

In [9]:
#Strings
print('no one')
print("every one")
print('''some one''')
print("what's up")

no one
every one
some one
what's up

In [10]:
#Comments
print("how are you") #press these to comment out (ctrl + /) print("we are learning python") #print a string print(2+6) #print operators functions with number

how are you

In [14]:
#Variables
#Variables: objects containing specific values
x = 5 #numeric variables print(x)
y="we are learning python"
#string variables
print(y)
x= x+10 #or x=15
print(x)

#rules to assign variables

#1. variables should have letter, numbers or underscopes
#2. Donot start with numbers
#3. spaces are not allowed
#4. donot use functional keywords (mean, median, test etc)
#5. short and descriptive
#6. case sensitive (lower should be used)
fruit_basket="mangoes, oranges"
print(fruit_basket)
fruit_basket= 8
print(type(fruit_basket))

#fruit basket
#Input Variables
fruit_basket="mangoes"
print(fruit_basket)

#input function

fruit_basket=input("which is your favourite fruit?")
print(fruit_basket)

name= input("what is your name? ")
greetings="hello!"

print(greetings, name)

we are learning python
15
mangoes, oranges
<class 'int'>
mangoes
mango
hello! Sharjeel

In [12]:
#another way of doing this
name= input("what is your name? ")
print("hello!", name)

hello! Sharjeel

In [13]:
#3rd stage input function
name= input("what is your name")
age= input("how old are you?")
greetings=("hello")

print(greetings, name, "you are still young")

ID= input("what is your ID ?")
Password= input("what is you password ?")
greetings=("Hello!")

print(greetings, "You are welcome")

hello Sharjeel you are still young
Hello! You are welcome

In [18]:
#Conditional logics
#equal to ==
#not equal to !=
#less than <
#greater than >
#less than equal to <=
##greater than equal to >= #logical operators are either "true or false" or "yes or no" or "0 or 1"

#is 4 equal to 4?
print(4==4)
print(4!=4)
print(4>3)
print(3<6)
print(3<=5)
print(5>=4)

True
False
True
True
True
True

In [16]:
#Conversion type
x= 10.2 #integar
y= 10 #float
z= "hello" #string

#implict type

x= x+y

print(x, "type of x is:", type(x))

20.2 type of x is: <class 'float'>

In [15]:
#applications of logical operators
#hammad_age=4
#age_at_shchool=5
#print(hammad_age==age_at_shchool)

#input functions and logical operators
age_at_shchool=5
hammad_age=input("how old is hammad")
#input functions
hammad_age= int(hammad_age)
print(type(hammad_age))
print(hammad_age==age_at_shchool) #logical operators

<class 'int'>
False

In [17]:
#when an integar interact with float, it changes into float

#explict type
age=input("what is age")
age=int(age)
print(type(age))

#2nd way

print(age, type(int(age)))
print(age, type(float(age)))

name=input("what is name")
print(name, type(str(name)))

<class 'int'>
25 <class 'int'>
25 <class 'float'>
Sharjeel <class 'str'>

In [24]:
#If_else_elif
req_age_at_school = 5
ali_age = 1

#can ali go to school
if ali_age==req_age_at_school:
    print("ali can join the school")
elif ali_age > req_age_at_school:
        print("ali should join school")
elif ali_age <= 2:
        print("take care of him")
else:
    print("ali cannot go to school")

take care of him

In [20]:
#if, elif else statement clear
#Functions
#define a functions
def print_lapy():
    print("we are good")
    print("we are good")
    print("we are good")
    print_lapy()

In [21]:
2
def print_lapy():
    text = "we are good"
    print(text)
    print(text)
    print(text)

print_lapy()

we are good
we are good
we are good

In [22]:
#3

def print_lapy(text):
    print(text)
    print(text)
    print(text)

print_lapy("you are good")

you are good
you are good
you are good

In [23]:
#define a function with if, elif and else
def school_calculator(age, text):
    if age==5:
        print("ali can go to school")
    elif age>5:
        print ("ali should go to school")
    else:
            print("ali is too young to school")

school_calculator(2,"ali")

ali is too young to school

In [30]:
#Loops
#while and for loops
#while loops

#x=0 while (x<=5)
#print(x) x=x+1

#for loops

for x in range(4,10):
    print(x)

#array
days= ["mon", "tue", "wed", "thur", "fri","sat"]


import math
print("the value of pi is", math.pi)

import statistics

x= [10, 20, 30, 40]
print(statistics.mean(x))

#numpy, pandas

#Troubleshooting
print("we are learning") #syntax error

#print(25/0) # runtime error

name= "ali"

print("hello name") # symantic error

print("hello", name) #correction of symantic

4
5
6
7
8
9
the value of pi is 3.141592653589793
25
we are learning
hello name
hello ali

In [31]:
# make a string
a = "nice"
a

'nice'

In [32]:
a

'nice'

In [33]:
# length of indices
len(a)

4

In [34]:
a[1]

'i'

In [35]:
a[0:3]

'nic'

In [36]:
a[-4:-1]

'nic'

In [37]:
food = "biryani"
food

'biryani'

String Methods

In [38]:
food

'biryani'

In [39]:
len(food)

7

In [40]:
food.capitalize()

'Biryani'

In [41]:
food.replace("b","sh")

'shiryani'

In [42]:
name  = "Sharjeel with python"
name

'Sharjeel with python'

In [43]:
name.count("h")

3

How to split a string

In [25]:
food = "I love data, analysis and python"
food

'I love data, analysis and python'

In [26]:
food.split(",")

['I love data', ' analysis and python']

Basic Data Structure in Python:

1. Tuple

2. List

3. Dictionaries

4. Set¶

## 1. Tuple:

- orederd collection of elements

- enclosed in ()

- different kind of elements can be stored

- once elements are stored, you canot change it

In [46]:
tup1 = (1, "python", True, 2.5)
tup1

(1, 'python', True, 2.5)

In [47]:
# types of tuple
type(tup1)

tuple

- Indexing in tuple

In [48]:
tup1[1]

'python'

In [49]:
# last element is exclusive
tup1[0:3]

(1, 'python', True)

In [50]:
len(tup1)

4

In [51]:
tup2 = (2, "Hi", False, 3.5)
tup2

(2, 'Hi', False, 3.5)

In [52]:
# concatinate(to add tuples)
tup1 + tup2

(1, 'python', True, 2.5, 2, 'Hi', False, 3.5)

In [53]:
# concatinate + repeat
tup1*2 + tup2

(1, 'python', True, 2.5, 1, 'python', True, 2.5, 2, 'Hi', False, 3.5)

In [56]:
tup3 = (20, 50, 60, 80)
tup3

(20, 50, 60, 80)

In [57]:
tup3*2

(20, 50, 60, 80, 20, 50, 60, 80)

## 2. List:

- orderd collection of elements

- enclosed in square brackets

- you can change the value

In [58]:
list1 =[2, "Hi", False]
list1

[2, 'Hi', False]

In [59]:
type(list1)

list

In [60]:
list2 =[3, 5,"Ali", "Codanics", 478, 53.2, False]
list2

[3, 5, 'Ali', 'Codanics', 478, 53.2, False]

In [61]:
list1 + list2

[2, 'Hi', False, 3, 5, 'Ali', 'Codanics', 478, 53.2, False]

In [62]:
list1.reverse()
list1

[False, 'Hi', 2]

In [63]:
list1.append("how are you")
list1

[False, 'Hi', 2, 'how are you']

In [64]:
list3= [10, 20, 30, 40, 50, 60, 70, 80]
list3

[10, 20, 30, 40, 50, 60, 70, 80]

In [65]:
# sorting
list3.sort()
list3

[10, 20, 30, 40, 50, 60, 70, 80]

In [66]:
list3*3

[10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80]

## 3. Dictionaries:

- unordered collection of element

- key and value

- curly braces or brackets{}

- can change the value

In [27]:
#Food and their prices
food1 = {"apple": 30, "bread": 100, "soda": 10, "salad":50, "chicken roll":100}
food1

{'apple': 30, 'bread': 100, 'soda': 10, 'salad': 50, 'chicken roll': 100}

In [28]:
# extract data
keys1 = food1.keys()
keys1

dict_keys(['apple', 'bread', 'soda', 'salad', 'chicken roll'])

In [29]:
values1 = food1.values()
values1

dict_values([30, 100, 10, 50, 100])

In [30]:
# update the values
food1["milk"]= 15
food1

{'apple': 30,
 'bread': 100,
 'soda': 10,
 'salad': 50,
 'chicken roll': 100,
 'milk': 15}

In [31]:
food2 = {"dates":50, "chocolate":50, "sweets":1000}
food2

{'dates': 50, 'chocolate': 50, 'sweets': 1000}

In [32]:
#concatinate
food1.update(food2)
food1

{'apple': 30,
 'bread': 100,
 'soda': 10,
 'salad': 50,
 'chicken roll': 100,
 'milk': 15,
 'dates': 50,
 'chocolate': 50,
 'sweets': 1000}

## 4. Sets:

- unordered and unindexed

- curly braces {}

- no duplicate

In [2]:
s1 ={1, 2.1, 5.2, "Sharjeel", "Codanica", "Faisalabad", True}
s1

{1, 2.1, 5.2, 'Codanica', 'Faisalabad', 'Sharjeel'}

In [3]:
s1.add("nice")
s1

{1, 2.1, 5.2, 'Codanica', 'Faisalabad', 'Sharjeel', 'nice'}

In [4]:
s1.remove("Codanica")
s1

{1, 2.1, 5.2, 'Faisalabad', 'Sharjeel', 'nice'}